
.circle-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle{
        width: 200px;
        height: 200px;
        border: 10px solid red;
        border-color: red transparent red transparent;
        border-radius: 50%;
        animation: loader 1.2s linear infinite;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}